doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title Welcome to Majesti
    link(href=directory_root+"static/css/main.css", rel="stylesheet")
  
  body(id=page+"-page")
    header
      a.logo(href="#")
        img(alt="Majesti logo", src=directory_root+"static/svg/logo.svg")
